body {
  background-color: black;
  color: white;
  margin: 0;
  font-family: Arial, sans-serif;
  font:bold
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
}

p {
  color: white;
}

button {  
  text-transform: uppercase;
  padding: 9px 17px;  
  border-radius: 20px;
  cursor: pointer;
  font-size: 15px;
}

button:hover {
  background-color: #555; 
}
.app {
  display: flex;
}

.sidebar {
  width: 5vw;
  height: 100vh;
  background-color: #4a4a59fc;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-container {
  padding: 10px;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-container.active {
  background-color: blue;
}

.icon-container svg {
  width: 24px;
  height: 24px;
}


.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.header-left {
  display: flex;
  align-items: center;
  padding:0px 75px
}

.header-left h1 {
  margin-right: 20px;
}

.reactivate-btn {
  padding: 7px 10px;
  background-color: #7ce180;
}
.header-right{
  display: flex;
}
.header-right button {
  margin-left: 10px;
}


.content {
  display: flex;
}

.center-section {
  flex: 2;
  margin-right: 20px; 
  padding: 0px 75px;
}

.right-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  margin: 10px 0;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: rgb(61, 61, 79);
}

.card-right{
  border-bottom: 1px solid;
  border-color: grey;
  width: 80%;
}
.status-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status-right {
  display: flex;
  align-items: center;
}

.status-right p {
  margin-right: 10px; /* Adjust the margin as needed */
}

.links{
  color:  rgb(118, 215, 126);

}

.green{
  background-color: rgb(118, 215, 126);
}
.original{
  background-color: rgb(61, 61, 79);
   color: white;
 border:2px solid white
}
.store-button{
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:4px
}
.rescan-button{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background-color: black;
  color:white;
  border: 2px solid white;
}
.orange{
  color:orange
}
.btns{
  display: flex;
  gap:20px
}